.add-product {}

.add-product .add-product-title {
    display: flex;
    align-items: center;
}

.add-product .add-product-title .btn {
    font-size: 40px;
    padding: 5px;
}

.add-product .add-product-title .btn:hover {
    color: var(--primary-bg-hover);
}

.add-product .add-product-form {}

.add-product .add-product-form .label {
    margin-bottom: 0;
    margin-top: 15px;
}

.add-product .dropzone {
    padding: 25px;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.add-product .dropzone:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.add-product .dropzone .upload-icon {
    font-size: 35px;
    margin: 10px;
}

.add-product .thumbnail {
    position: relative;
}

.add-product .thumbnail .cancel-image {
    position: absolute;
    right: -12px;
    top: -15px;   
}
.add-product .thumbnail .cancel-image i{   
    color: red;
}
